.timeline{
    display:flex;
    flex-direction: row;
}

.timeline-left{
    flex:0.7;
}
.timeline-right{
    flex:0.3;
}


@media only screen and (max-width: 600px) {
    .timeline{
        margin-top: 64px;
        margin-left:50px;
        display:flex;
    }

  
  }