.sidenav{
    position:fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;
}

.sidenav-logo{
    width:120px;
    margin: 25px;
}

.sidenav-buttons{
    display:flex;
    flex-direction: column;
}

.sidenav-button{
    display: flex;
    flex-direction: row;
    align-items: center;
    color:white;
    background:0;
    border:0;
    margin:5px 10px 5px 10px;
    padding:10px 15px 10px 15px;
    border-radius: 15px;
    width: 100%;
}

.sidenav-button:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.128);
}

.sidenav-button > span {
    font-size: 18px;
    font-weight: bolder;
    margin-left: 10px;
  }
  
  .sidenav-more {
    position: fixed;
    bottom: 3px;
  }
  
  .logout-button {
    font-size: 15px;
    border-radius: 10px;
    font-weight: bold;
    color: white;
    background-color: rgba(255, 255, 255, 0.211);
    border: 0;
    padding: 10px;
  }
  
  .logout-button:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.424);
  }
  
  @media (max-width: 600px) {
    .sidenav {
      display:flex;
      flex-direction: column;
    }
  
    
    .home-label{
      display:none;
    }
    .search-label{
      display:none;
    }
    .explore-label{
      display:none;
    }
    .reels-label{
      display:none;
    }
    .messages-label{
      display:none;
    }
    .notifications-label{
      display:none;
    }
    .create-label{
      display:none;
    }

    .sidenav-button {
      width: 30%;
    }
  }